* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    margin: 50px 0px 50px 0px;
}

h2 {
    font-size: 14px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 20px;
}

.cards {
    padding: 20px;
    width: 240px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    word-break: break-all;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    width: 200px;
}

.cards .parcelado {
    color: rgba(255, 255, 255, 0.822);
    font-size: 12px;
}

.cards .pix {
    color: rgb(0, 0, 255, 0.822);
    font-size: 20px;
}