* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404040;
    background-color: rgba(0, 0, 0, 0.884);
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
    color: #f87842;
}

#container {
    background-color: white;
    border-radius: 30px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: bold;
    width: 400px;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

button {
    padding: 10px 60px;
    border-radius: 30px;
    background-color: #3393c1;
    color: white;
    text-transform: uppercase;
    border: none;
}

input {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #f1f1f1;
}

#container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 400px;
}

#container-header div {
    color: white;
    padding: 10px 20px;
    width: 180px;
    text-align: center;
    background-color: #404040;
}

#resultado-imc, #classificacao-imc {
    font-size: 12px;
}

#container-imc {
    margin-top: 35px;
    font-weight: bold;
    display: none;
}

#resultado {
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
}

.cabecalho {
    font-size: 14px;
}