    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:url(perfect-car-home.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
}

.container {
    background-color: #000101;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

div.logo img {
    height: 50px;
}

.menu { 
    width: 500px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-content: center;

    margin-top: 10px;
    margin-right: 20px;
}

.nav-links a#home {
    background-color: #203b37;
    color: white;
    padding: 1px;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    border: 1px inset white;
}

.menu a {
    text-decoration: none;
    color: #EEE8B2;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.menu a:hover {
    text-decoration: none;
    color: #5a8f76;
}

.headline {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 95px;
    margin-left: 385px;
    color: #203b37;
}

div.headline h1 {
    font-size: 20px;
    padding: 5px;
    border: 2px outset #203b37;
    border-radius: 10px;
    width: 550px;
}

footer > p {
    margin-top: 400px; 
    background-color: black; 
    color: white; 
    padding: 10px;
    text-align: center;
}