* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../imagens/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    display: flex;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.login-left {
    flex: 1;
    padding: 40px 80px;
}
.logo-preta {
    width: 100%;
    display: block;
}
.login-left p {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}
.login-left h4 {
    margin: 0px 0px 20px 0px;
    text-align: center;
    font-size: 18px;
}
.login-left form {
    width: 100%;
    text-align: center;
}
.login-left form input,
.login-left form button {
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #ddd;
    border-radius: 24px;
    padding: 12px 20px;
    box-sizing: border-box;
}
.login-left form input[type="text"],
.login-left form input[type="password"] {
    height: 46px;
}
.login-left form .mbu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.login-left form .mbu label {
    font-size: 14px;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}
.login-left form .mbu .custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #BF0067;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.login-left form .mbu input[type="checkbox"] {
    display: none;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container i {
    position: absolute;
    top: 25px;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #BF0067;
    visibility: visible;
}
.g-recaptcha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.login-left form button {
    background-color: #BF0067;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 24px;
    transition: background-color 0.3s ease;
}
.login-left form button:hover {
    background-color: #a7005c;
}
.login-left form .forgot-password {
    font-size: 14px;
    color: #BF0067;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin: 0;
}
.login-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.login-right video {
    width: 140%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 20px 20px 0px;
    opacity: 0.57;
    display: block;
}
.login-right::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 20, 147, 0.5);
    border-radius: 0px 20px 20px 0px;
    pointer-events: none;
}
.logo-white {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 170px;
    height: auto;
    object-fit: contain;
    z-index: 10;
}