* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404040;
    background-color: rgba(0, 0, 0, 0.884);
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
    color: #f87842;
}

#container {
    background-color: white;
    border-radius: 30px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    /* width: 430px; */
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
    font-weight: bold;
    width: 330px;
}

#campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    margin-bottom: 25px;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

button {
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #3393c1;
    color: white;
    text-transform: uppercase;
    border: none;
    width: 150px;
}

.reset {
    width: 330px;
}

input {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #f1f1f1;
    width: 300px;
}

#container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#container-header div {
    color: white;
    padding: 10px 20px;
    width: 300px;
    text-align: center;
    background-color: #404040;
}

#container-header #resultado-conversor {
    font-size: 16px;
    background-color: #f87842;
}

#container-conversor {
    margin-top: 20px;
    font-weight: bold;
    display: none;
}

#cabecalho {
    font-size: 16px;
    text-transform: uppercase;
}